.inemt{
        width: 1000px;
        margin: 0 auto;    
}
.app{
	padding-left: 54px;
}
.listheader{
		width: 100%;
        height: 50px;
        line-height: 50px;
        color: #3c3c3c;
}
.listheader ul{
		width: 88%;
	    height: 130px;
	    height: 50px;
}
.listheader ul li{
		float: left;
        height: 100%;
}
.listheader ul li:first-child{
		text-indent: 140px;
        width: 312px;
}
.listheader ul li:nth-child(2){
		width: 130px;
}
.listheader ul li:nth-child(3){
		width: 120px;
}
.listheader ul li:nth-child(4){
		width: 140px;
}
.listheader ul li:nth-child(5){
		width: 89px;
}
.listheader ul li:nth-child(6)>a{
        color: #000;
        border: 1px solid #ccc;
        background-color: #23AC38;

}
.box{
		width: 100%;
    	margin-bottom: 15px;
}
.orders{
	    padding-left: 79px;
		border: 1px solid #ccc;
        height: 89px;
}
.orders ul{
		width: 100%;
        line-height: 100px;
}
.orders ul li:first-child{
		position: relative;
        width: 328px;
        float: left;
         height: 50px;
        font-size: 14px;
    	text-align: center;
    	line-height: 68px;
}

.orders ul li:nth-child(2){
		
		float: left;
           height: 83px;
        line-height: 89px;
        text-indent: -8px;
}
.orders ul li:nth-child(2)>span{
	display: block;
    float: left;
    height: 53px;
    margin-left: 91px;
    margin-top: -105px;
    margin-right: 50px;
    width: 154px;
    text-align: left;
    line-height: 53px;
    width: 188px;
    text-align: left;
}
.orders ul li:nth-child(3){
	width: 139px;
    float: left;
    height: 36px;
    display: block;
    text-align: left;
    margin-left: 153px;
    margin-top: 21px;
    line-height: 36px;
}
.orders ul li:nth-child(4){
	width: 42px;
    float: left;
    height: 36px;
    margin-top: 20px;
    text-align: center;
    line-height: 36px;
    margin-left: -8px;
}
.orders ul li:nth-child(5){
	width: 120px;
    float: left;
    height: 36px;
    margin-left: 36px;
    line-height: 36px;
    margin-top: 23px;
    text-align: center;
}
.orders ul li:nth-child(6){
	width: 71px;
    float: left;
    height: 36px;
    margin-left: 49px;
    line-height: 36px;
    margin-top: 23px;
}
.adkey{
	margin-left: 201px;
	margin-top: 40px;
	display: inline-block;
}
.commit-address{
    float: left;
    margin-top: -204px;
    margin-left: 192px;
}
.commit-address>p>a{
	display: inline-block;
    margin-left: 557px;
    margin-top: -16px;
    float: left;
}
.commit-address>input[type='submit']{
	padding: 10px;
    position: absolute;
    top: 98px;
    right: 64px;

}
.clear{
	clear: both;
	height:0; font-size: 1px; line-height: 0px;
}
.formbox{
	width: 1100px;
    margin: 0px auto;
    position: relative;
    margin-bottom: 29px;
    height: 345px;
    margin-top: 10px;
}
.commint{
	margin-top: 63px;
    margin-left: 114px;
    width: 176px;
    height: 176px;
    line-height: 39px;
}
.count{
	display: block;
    margin-top: 54px;
    width: 136px;
    margin-bottom: -86px;
    float: right;
    margin-right: 20px;

}
.commint>input[type='submit']{
	position: absolute;
    top: 15px;
    left: 114px;
    padding: 10px;

}
